.App{
width: 100%;
display: flex;
flex-wrap: nowrap;
background:#000;
}

#appSidebar{
  width: 18.75rem;
  height: calc(100vh );
  background:#000;
  flex: 0 0 auto;
  transition: all .4s ease-out; 
}

#appSidebar.hidden{ 
  transform: translate3d(-18.75rem,0,0);
  margin-left:-18.75rem
}

#searchInput{ 
  width: 50%; 
  transition: width .5s ease-in;}

.mapContainer{
flex: 1 1 auto;
height: calc( 100vh - 3.125rem );
}

.map{
  width: 100%; 
  height:100%;
}

.tophead{
  height: 3.125rem; 
  background-color: #000
}


.locations-grid{ color:#fff; height: 18.75rem; overflow-y: scroll}
.locations-grid li{border-top: 1px solid #ccc; color:#fff; padding: 1.25rem; border-bottom: 1px solid #ccc  }
.locations-grid li a{color:#fff; text-decoration: none;  }


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

